.paper {
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 900px;
    height: 650px;
  }
  
  .modalHeader {
    text-align: center;
    align-items:center;
    color: blue;
    text-shadow: 1px 1px 2px white;
    font-size: 3.0rem;
    font-weight: bold;
  }
  